@page "/"

@using Microsoft.Extensions.Logging;
@using Rocket
@using WebConsole

@inject ILogger<App> _logger

<style>
  code, input, pre
  {
    color: limegreen;
    background-color: black;
  }
</style>

<PageTitle>Lunar Lander</PageTitle>

<p>
  <div @onkeydown="@_console.OnKeyDown" tabindex="0">
    <pre>
      <code>@_console.State</code>
    </pre>
  </div>
</p>

@code
{
  private Lunar _game;
  private BlazorConsole _console;

  public Index()
  {
    _game = new();
    _console = Lunar.console;
    _console.TriggerRefresh = StateHasChanged;
  }

  protected override void OnInitialized() => InvokeAsync(Lunar.StartAsync);
}
